@{
	ViewData["Tilte"] = "BookNow";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

  <div class="btn-group btn-group-lg">
           
    <button type="button" class="btn btn-primary"> Consultation </button>
    <button type="button" class="btn btn-primary"> Hair Care </button>
    <button type="button" class="btn btn-primary">Hair Color </button>
    <button type="button" class="btn btn-primary"> Hair Extensions </button>
    <button type="button" class="btn btn-primary">Haircuts</button>
    <button type="button" class="btn btn-primary">   Men's Grooming </button>
    <button type="button" class="btn btn-primary"> Waxing </button>
  </div>
 
<!---->          <div class="grouped-services-item">
  <div class="service-menu-content">
        <div id="64472" class="service-menu-category">
    <div class="group-container-inner">
<!---->      
        <div class="sticky-element-parent">
            <div class="group-container-header-sticky">
              <span class="group-container-header-item">
                <span class="custom-color-border-top-color">Consultation</span>
              </span>
            </div>
            <div class="menu-group-items">
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Color Consultation</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>15 min</span>
<!---->            
</div>
          </div>
            <p class="card__description">
  <div id="ember76" class="lt-line-clamp lt-line-clamp--multi-line ember-view" style="-webkit-line-clamp: 3">  Looking to change you color? This one is for you!  You may also text us for a consultation virtually at 713-523-6905

<!----></div>
</p>
        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Book
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Cut Consultation</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>15 min</span>
<!---->            
</div>
          </div>
            <p class="card__description">
  <div id="ember77" class="lt-line-clamp lt-line-clamp--multi-line ember-view" style="-webkit-line-clamp: 3">  Want a change but not sure? New to the salon? This is for you! And it's complimentary.Text us here as well for one 713-523-6905

<!----></div>
</p>
        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Book
  </span>

      </div>
    
  </article>

</div>
<!---->
</div>

                  </div>
      
<!---->    </div>
  </div>

        <div id="33416" class="service-menu-category">
    <div class="group-container-inner">
<!---->      
        <div class="sticky-element-parent">
            <div class="group-container-header-sticky">
              <span class="group-container-header-item">
                <span class="custom-color-border-top-color">Hair Care</span>
              </span>
            </div>
            <div class="menu-group-items">
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Blow out</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>45 min</span>
                <span class="info-card-price-bold">$50.00</span>
            
</div>
          </div>
<!---->        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Book
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Blow out (Long and Thick)</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>1 hr</span>
                <span class="info-card-price-bold">$55.00</span>
            
</div>
          </div>
<!---->        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Book
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Blow out with extensions </h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>45 min</span>
                <span class="info-card-price-bold">$75.00</span>
            
</div>
          </div>
            <p class="card__description">
  <div id="ember78" class="lt-line-clamp lt-line-clamp--multi-line ember-view" style="-webkit-line-clamp: 3">  Have extensions? Need a blow out? This option is for you!

<!----></div>
</p>
        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Book
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Brazilian Blow Out </h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>3 hr</span>
                <span class="info-card-price-bold">$350.00</span>
            
</div>
          </div>
<!---->        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Book
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">CBD Molecule Bonding Treatment </h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>30 min</span>
                <span class="info-card-price-bold">$65.00</span>
            
</div>
          </div>
            <p class="card__description">
  <div id="ember79" class="lt-line-clamp lt-line-clamp--multi-line ember-view" style="-webkit-line-clamp: 3">  Add on this truly regenerating conditioning treatment infused with CBD from Leaf + Flower. Help mend broken bonds and creates softness.  

<!----></div>
</p>
        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Book
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Demi Permanment B3 Conditioner</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>35 min</span>
                <span class="info-card-price-bold">$45.00</span>
            
</div>
          </div>
<!---->        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Book
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Formal styling</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>1 hr</span>
                <span class="info-card-price-bold">$95.00</span>
            
</div>
          </div>
            <p class="card__description">
  <div id="ember80" class="lt-line-clamp lt-line-clamp--multi-line ember-view" style="-webkit-line-clamp: 3">  Formal occasion styling.

<!----></div>
</p>
        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Book
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Keratin treatment</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>2 hr 30 min</span>
                <span class="info-card-price-bold">$350.00</span>
            
</div>
          </div>
            <p class="card__description">
  <div id="ember81" class="lt-line-clamp lt-line-clamp--multi-line ember-view" style="-webkit-line-clamp: 3">  3-4 months of smooth frizz free hair.

<!----></div>
</p>
        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Book
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Perm/Body Wave</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>2 hr</span>
                <span class="info-card-price-bold">$125.00</span>
            
</div>
          </div>
            <p class="card__description">
  <div id="ember82" class="lt-line-clamp lt-line-clamp--multi-line ember-view" style="-webkit-line-clamp: 3">  The price is starting $125+

<!----></div>
</p>
        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Book
  </span>

      </div>
    
  </article>

</div>
<!---->
</div>

                  </div>
      
<!---->    </div>
  </div>

        <div id="58194" class="service-menu-category">
    <div class="group-container-inner">
<!---->      
        <div class="sticky-element-parent">
            <div class="group-container-header-sticky">
              <span class="group-container-header-item">
                <span class="custom-color-border-top-color">Hair Color</span>
              </span>
            </div>
            <div class="menu-group-items">
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">A Notice For Clients</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>5 min</span>
<!---->            
</div>
          </div>
            <p class="card__description">
  <div id="ember83" class="lt-line-clamp lt-line-clamp--multi-line ember-view" style="-webkit-line-clamp: 3">  If you are booking please add a brief description of what you're looking for! You can send us pictures as well, we look forward to see you!

<!----></div>
</p>
        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Call to book
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">B3 Brazilian Bond Builder</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>5 min</span>
                <span class="info-card-price-bold">$10.00</span>
            
</div>
          </div>
            <p class="card__description">
  <div id="ember84" class="lt-line-clamp lt-line-clamp--multi-line ember-view" style="-webkit-line-clamp: 3">  Can be added to any color service to reduce damage in the highlighting/coloring process.

<!----></div>
</p>
        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Book
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Balayage</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>3 hr</span>
                <span class="info-card-price-bold">$225.00</span>
            
</div>
          </div>
            <p class="card__description">
  <div id="ember85" class="lt-line-clamp lt-line-clamp--multi-line ember-view" style="-webkit-line-clamp: 3">  Lived in color, perfect for those who want to be brighter without being bright all over.  If you have Rapunzel length hair please let us know in your notes :)

<!----></div>
</p>
        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Book
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Corrective color</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>2 hr 30 min</span>
<!---->            
</div>
          </div>
<!---->        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Book
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Face Frame Highlight </h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>2 hr</span>
                <span class="info-card-price-bold">$100.00</span>
            
</div>
          </div>
            <p class="card__description">
  <div id="ember86" class="lt-line-clamp lt-line-clamp--multi-line ember-view" style="-webkit-line-clamp: 3">  A few highlights to brighten up around your face (14 foils)

<!----></div>
</p>
        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Book
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Full highlights</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>3 hr 30 min</span>
                <span class="info-card-price-bold">$225.00</span>
            
</div>
          </div>
            <p class="card__description">
  <div id="ember87" class="lt-line-clamp lt-line-clamp--multi-line ember-view" style="-webkit-line-clamp: 3">  This service is to achieve a brighter look all around your head using foils. This is good for your first time foil to be brighter or maintenance on a partial If you have Rapunzel length hair please let us know in your notes :)

<!----></div>
</p>
        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Book
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Glaze/toner</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>45 min</span>
                <span class="info-card-price-bold">$50.00</span>
            
</div>
          </div>
<!---->        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Book
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Partial Highlight</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>2 hr</span>
                <span class="info-card-price-bold">$125.00</span>
            
</div>
          </div>
            <p class="card__description">
  <div id="ember88" class="lt-line-clamp lt-line-clamp--multi-line ember-view" style="-webkit-line-clamp: 3">  This service is good if you just had a full and need a touch up between your next full using foils. This is also good for those looking for a subtle change. 

<!----></div>
</p>
        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Book
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Single process color plus refresh ends</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>1 hr 30 min</span>
                <span class="info-card-price-bold">$125.00</span>
            
</div>
          </div>
            <p class="card__description">
  <div id="ember89" class="lt-line-clamp lt-line-clamp--multi-line ember-view" style="-webkit-line-clamp: 3">  A single process plus added color to the ends to refresh your color all over. If you'd like a blow dry please book a post color blow out 

<!----></div>
</p>
        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Book
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Single process hair color</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>1 hr</span>
                <span class="info-card-price-bold">$75.00</span>
            
</div>
          </div>
            <p class="card__description">
  <div id="ember90" class="lt-line-clamp lt-line-clamp--multi-line ember-view" style="-webkit-line-clamp: 3">  This is for anyone who needs a root touch up that isn't a highlight If you'd like a blow dry please book post color blow out 

<!----></div>
</p>
        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Book
  </span>

      </div>
    
  </article>

</div>
<!---->
</div>

                  </div>
      
<!---->    </div>
  </div>

        <div id="62713" class="service-menu-category">
    <div class="group-container-inner">
<!---->      
        <div class="sticky-element-parent">
            <div class="group-container-header-sticky">
              <span class="group-container-header-item">
                <span class="custom-color-border-top-color">Hair Extensions</span>
              </span>
            </div>
            <div class="menu-group-items">
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Hair Extensions </h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>30 min</span>
<!---->            
</div>
          </div>
            <p class="card__description">
  <div id="ember91" class="lt-line-clamp lt-line-clamp--multi-line ember-view" style="-webkit-line-clamp: 3">  Please note, any extension service requires a consultation. This is not an appointment, only a consult. Please call salon for booking with Katarina 

<!----></div>
</p>
        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Book
  </span>

      </div>
    
  </article>

</div>
<!---->
</div>

                  </div>
      
<!---->    </div>
  </div>

        <div id="57679" class="service-menu-category">
    <div class="group-container-inner">
<!---->      
        <div class="sticky-element-parent">
            <div class="group-container-header-sticky">
              <span class="group-container-header-item">
                <span class="custom-color-border-top-color">Haircuts</span>
              </span>
            </div>
            <div class="menu-group-items">
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Bang trim</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>15 min</span>
                <span class="info-card-price-bold">$10.00</span>
            
</div>
          </div>
<!---->        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Book
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Haircut</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>45 min</span>
                <span class="info-card-price-bold">$85.00</span>
            
</div>
          </div>
            <p class="card__description">
  <div id="ember92" class="lt-line-clamp lt-line-clamp--multi-line ember-view" style="-webkit-line-clamp: 3">  Cleansing massage + haircut + style

<!----></div>
</p>
        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Book
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Haircut only</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>45 min</span>
                <span class="info-card-price-bold">$65.00</span>
            
</div>
          </div>
            <p class="card__description">
  <div id="ember93" class="lt-line-clamp lt-line-clamp--multi-line ember-view" style="-webkit-line-clamp: 3">  A haircut, minus the blow out 

<!----></div>
</p>
        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Book
  </span>

      </div>
    
  </article>

</div>
<!---->
</div>

                  </div>
      
<!---->    </div>
  </div>

        <div id="61139" class="service-menu-category">
    <div class="group-container-inner">
<!---->      
        <div class="sticky-element-parent">
            <div class="group-container-header-sticky">
              <span class="group-container-header-item">
                <span class="custom-color-border-top-color">Men's Grooming</span>
              </span>
            </div>
            <div class="menu-group-items">
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Beard Trim</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>15 min</span>
                <span class="info-card-price-bold">$15.00</span>
            
</div>
          </div>
<!---->        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Book
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Men's haircolor</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>45 min</span>
                <span class="info-card-price-bold">$55.00</span>
            
</div>
          </div>
<!---->        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Book
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Men's Haircut</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>30 min</span>
                <span class="info-card-price-bold">$55.00</span>
            
</div>
          </div>
<!---->        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Book
  </span>

      </div>
    
  </article>

</div>
<!---->
</div>

                  </div>
      
<!---->    </div>
  </div>

        <div id="68848" class="service-menu-category">
    <div class="group-container-inner">
<!---->      
        <div class="sticky-element-parent">
            <div class="group-container-header-sticky">
              <span class="group-container-header-item">
                <span class="custom-color-border-top-color">Waxing</span>
              </span>
            </div>
            <div class="menu-group-items">
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Brows</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>15 min</span>
                <span class="info-card-price-bold">$25.00</span>
            
</div>
          </div>
<!---->        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Book
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Full Face</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>30 min</span>
                <span class="info-card-price-bold">$45.00</span>
            
</div>
          </div>
<!---->        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Book
  </span>

      </div>
    
  </article>

</div>
<!---->
</div>

                  </div>
      
<!---->    </div>
  </div>

  </div>
</div>
        </div>
      </div>
    </div>
</div>

<!---->
</main>

