@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body id="custom-colors" class="ember-application location location-service location-service-availability location-service-availability-when location-service-availability-when-gender location-service-availability-when-gender-index" style="">
    
    

    <script async="" src="https://cdn.pendo.io/agent/static/c45d173a-d192-46f8-4c58-5441bb4fe4bb/pendo.js"></script><script async="" src="//www.google-analytics.com/analytics.js"></script><script src="/assets/vendor-ea9e506833f1f17edaa8ac76c0690f5f.js" integrity="sha256-7dTXW+Oz2dnfitSGQfNmjjqOr1NExlwQSe5iz78oAXg= sha512-8DH38Wi08iHc+paet92DuDtDDuxvM2/V1baqc/kkXlxqFzKivbjbVeNLn5tHrKwk2MU7HzmiuSiAOpGBLKg+iA=="></script>
    <script src="/assets/cf2-cli-6f7a4385426419fdff579138e6839c4c.js" integrity="sha256-9NXPNq0dQZjpCN/vB9laN02GOCQioXKzAkRkUlb14Xw= sha512-zPsk/zLpDXcgAnSlC47TNsr/9Z95QmmmmrfhdFbkg6bLwn5J0eT7P7Uqx5qfxW9izyGHw6QrvfngxjpEbC8VXQ=="></script>

    <div id="ember-bootstrap-wormhole"></div>
<div id="ember-basic-dropdown-wormhole"></div>
    <script>

  <div class="location-header">
  <nav id="ember51" class="navbar navbar-fixed-top navbar-default ember-view" aria-label="Main menu" role="banner" style="border-bottom: none;"><div class="container-fluid">
  
    <div class="navbar-header">
          <a href="http://www.marbellaspaandsalon.com" target="_blank" class="business-image-container" rel="noopener noreferrer">
            <div>
              <img class="business-logo responsive-img" src="https://assets.secure-booker.com/spas/48368/47e6e4c4-1e37-4873-b3de-f9da1238b410.png" alt="Marbella Salon">
            </div>
          </a>
      <button id="ember52" class="navbar-toggle collapsed ember-view">  <span class="sr-only">Toggle navigation</span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</button>
    </div>
    <div id="ember53" class="col-xs-8 navbar-custom-bg navbar-collapse collapse ember-view">
      <ul id="ember54" class="nav navbar-nav ember-view">
<!---->          <li id="ember55" class="ember-view">
<a href="/location/marbellasalon/signin" id="ember56" class="header-link navbar-text-color header-signin ember-view">              <span class="lnr lnr-man"></span>Sign in
</a>          </li>


           <li id="ember57" class="ember-view navbar-Book">
<a href="/location/marbellasalon/service-menu" id="ember58" class="header-link navbar-text-color ember-view">              <span class="lnr" icon="CALENDAR"></span>Book
</a>          </li>
<!---->        <li id="ember59" class="ember-view">
<a href="/location/MarbellaSalon/onlinecart" id="ember60" class="header-link navbar-text-color header-cart-link ember-view">            <span class="lnr lnr-cart"></span><!---->Cart
</a>        </li>
      
</ul>

      <ul id="ember61" class="visible-xs-block header-contact nav navbar-nav ember-view">
          <li id="ember62" class="ember-view">
            <a href="tel:7135236905" class="header-link navbar-text-color header-contact-phone">
              <span class="lnr lnr-telephone"></span>
              (713) 523-6905
            </a>
          </li>
          <li id="ember63" class="ember-view">
            <a href="mailto:marbellasalon@gmail.com" class="header-link navbar-text-color header-contact-email">
              <span class="lnr lnr-envelope"></span>
              Email us
            </a>
          </li>
        <li id="ember64" class="ember-view">
<a href="/location/marbellasalon/contact" id="ember65" class="header-link navbar-text-color header-contact-maps ember-view">            <span class="lnr lnr-map-marker"></span>
            Map and Hours
</a>        </li>
          <li id="ember66" class="ember-view">
            <a href="http://www.marbellaspaandsalon.com" class="header-link navbar-text-color header-contact-website" target="_blank" rel="noopener noreferrer">
              <span class="lnr lnr-home"></span>
              Our Website
            </a>
          </li>
      
</ul>
      <div class="social-media-container">
          <a href="https://instagram.com/marbellasalon/" target="_blank" class="instagram-link social-media-links" rel="noopener" data-ember-action="" data-ember-action-68="68">
  <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg" class="social-media-icons"><g fill="#838B91" fill-rule="nonzero"><path d="M10.978 1.982c2.932 0 3.276.013 4.435.066 1.072.047 1.651.226 2.039.379.514.2.88.435 1.263.819.384.383.623.749.82 1.263.147.388.33.967.378 2.039.053 1.159.066 1.503.066 4.435 0 2.931-.013 3.276-.066 4.434-.048 1.072-.226 1.652-.379 2.04-.2.513-.435.88-.819 1.263-.383.383-.75.623-1.263.819-.388.148-.967.33-2.039.379-1.159.052-1.503.065-4.435.065-2.932 0-3.276-.013-4.435-.065-1.071-.048-1.65-.227-2.038-.38-.515-.2-.88-.435-1.264-.818a3.353 3.353 0 01-.819-1.264c-.148-.387-.33-.967-.379-2.039-.052-1.158-.065-1.503-.065-4.434 0-2.932.013-3.276.065-4.435.048-1.072.227-1.651.38-2.04.2-.513.435-.88.818-1.262.384-.384.75-.623 1.264-.82.387-.148.967-.33 2.038-.378 1.16-.057 1.503-.066 4.435-.066zm0-1.978c-2.98 0-3.354.013-4.526.066C5.284.122 4.487.31 3.79.58a5.35 5.35 0 00-1.943 1.267A5.443 5.443 0 00.58 3.79C.31 4.487.122 5.284.07 6.456.018 7.624.005 7.998.005 10.978c0 2.98.013 3.355.066 4.527.052 1.167.24 1.964.51 2.666a5.35 5.35 0 001.267 1.943c.61.61 1.224.984 1.943 1.267.697.27 1.494.458 2.666.51 1.172.052 1.542.065 4.527.065 2.984 0 3.354-.013 4.526-.065 1.167-.052 1.965-.24 2.666-.51a5.35 5.35 0 001.943-1.267c.61-.61.985-1.224 1.268-1.943.27-.697.457-1.495.51-2.666.052-1.172.065-1.543.065-4.527s-.013-3.354-.066-4.526c-.052-1.168-.24-1.965-.51-2.666a5.35 5.35 0 00-1.267-1.943A5.443 5.443 0 0018.175.575c-.697-.27-1.494-.457-2.666-.51-1.176-.048-1.551-.06-4.53-.06z"></path><path d="M10.978 5.341a5.638 5.638 0 000 11.274 5.64 5.64 0 005.637-5.637 5.64 5.64 0 00-5.637-5.637zm0 9.297a3.659 3.659 0 110-7.318 3.659 3.659 0 010 7.318z"></path><circle cx="16.838" cy="5.119" r="1.316"></circle></g></svg>
</a>
          <a href="https://facebook.com/marbellasalonmontrose" target="_blank" class="facebook-link social-media-links" rel="noopener" data-ember-action="" data-ember-action-70="70">
  <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg" class="social-media-icons"><path d="M18.7 6.2h-1.8c-1.4 0-1.7.6-1.7 1.6v2h3.3l-.3 3.2h-2.9v8.2h-3.5V13H9V9.8h2.9V7.5c0-2.7 1.7-4.2 4.3-4.2 1.2 0 2.3.1 2.6.1v2.8h-.1zM20.8 0H1.2C.5 0 0 .5 0 1.2v19.2c0 .7.5 1.2 1.2 1.2h19.6c.7 0 1.2-.5 1.2-1.2V1.2c0-.7-.6-1.2-1.2-1.2z" fill="#838B91" fill-rule="evenodd"></path></svg>
</a>
      </div>
    
</div>
  
</div>
</nav>
</div>

<main class="container-fluid main-container no-paddings-xs ">
  <div class="main-heading-wrapper row ">
  <div class="col-xs-12">
    <div class="sub-container-xs-2 sub-container-sm-0">
        <a class="custom-color-text back-link" role="button" data-ember-action="" data-ember-action-197="197">
          <span class="lnr-chevron-left"></span>
          <span class="hidden-xs">
            Back
          </span>
        </a>
      <h1 class="main-heading booking-heading">Pick a Time</h1>
    </div>
  </div>
</div>

<!---->

<div class="row">
  <div class="availability-appointment-section col-md-4 col-xs-12 hidden-xs">
    <div class="appointment-summary">
      <h4 class="appointment-title">Your Appointment</h4>
      <span class="appointment-price">
          15 min
      </span>
    </div>
    <div class="your-appointment">
  <div id="ember208" class="ui-card ember-view"><!----><div class="ui-card-inner">
  
    <div id="ember209" class="ui-card-content horizontal-padding-medium vertical-padding-medium ember-view">
  
        <div>
          <div class="employee-tag media-object ui-name-tag">
    <div class="media-object-float">
          <span class="employee-picture employee-picture-static">
      <span class="lnr-man"></span>
    </span>

    </div>
</div>

        </div>
      <div>
        <span class="ui-title">
  Color Consultation
</span>

          <div>
              <span class="employee-tag-label">with any male staff</span>
                <button class="btn-link employee-tag-change custom-color-text" type="button">
                  change
                </button>
          </div>
      </div>
    
</div>
  
</div></div>
  
<!---->    
<!----></div>

  </div>
  <div class="availability-calendar-section col-md-3 col-xs-12">
      <div class="power-calendar-container">
      <div id="ember211" class="ember-view ember-power-calendar">
        
    <nav class="ember-power-calendar-nav">
      <button class="ember-power-calendar-nav-control" disabled="" data-ember-action="" data-ember-action-213="213">
        <span class="lnr-chevron-left"></span>
      </button>
      <div class="ember-power-calendar-nav-title">
        October 2024

      </div>
      <button class="ember-power-calendar-nav-control" data-ember-action="" data-ember-action-214="214">
        <span class="lnr-chevron-right"></span>
      </button>
    </nav>
    <div class="ember-power-calendar-days" data-power-calendar-id="ember211">
  <div class="ember-power-calendar-row ember-power-calendar-weekdays">
      <div class="ember-power-calendar-weekday">Su</div>
      <div class="ember-power-calendar-weekday">Mo</div>
      <div class="ember-power-calendar-weekday">Tu</div>
      <div class="ember-power-calendar-weekday">We</div>
      <div class="ember-power-calendar-weekday">Th</div>
      <div class="ember-power-calendar-weekday">Fr</div>
      <div class="ember-power-calendar-weekday">Sa</div>
  </div>
  <div class="ember-power-calendar-day-grid">
      <div class="ember-power-calendar-row ember-power-calendar-week" data-missing-days="0">
          <button data-date="2024-09-29" class="ember-power-calendar-day ember-power-calendar-day--interactive ember-power-calendar-day--other-month" disabled="" type="button">
              29
          </button>
          <button data-date="2024-09-30" class="ember-power-calendar-day ember-power-calendar-day--interactive ember-power-calendar-day--other-month" disabled="" type="button">
              30
          </button>
          <button data-date="2024-10-01" class="ember-power-calendar-day ember-power-calendar-day--interactive ember-power-calendar-day--current-month" disabled="" type="button">
              1
          </button>
          <button data-date="2024-10-02" class="ember-power-calendar-day ember-power-calendar-day--interactive ember-power-calendar-day--current-month" disabled="" type="button">
              2
          </button>
          <button data-date="2024-10-03" class="ember-power-calendar-day ember-power-calendar-day--interactive ember-power-calendar-day--current-month" disabled="" type="button">
              3
          </button>
          <button data-date="2024-10-04" class="ember-power-calendar-day ember-power-calendar-day--interactive ember-power-calendar-day--current-month" disabled="" type="button">
              4
          </button>
          <button data-date="2024-10-05" class="ember-power-calendar-day ember-power-calendar-day--interactive ember-power-calendar-day--current-month" disabled="" type="button">
              5
          </button>
      </div>
      <div class="ember-power-calendar-row ember-power-calendar-week" data-missing-days="0">
          <button data-date="2024-10-06" class="ember-power-calendar-day ember-power-calendar-day--interactive ember-power-calendar-day--current-month" disabled="" type="button">
              6
          </button>
          <button data-date="2024-10-07" class="ember-power-calendar-day ember-power-calendar-day--interactive ember-power-calendar-day--current-month" disabled="" type="button">
              7
          </button>
          <button data-date="2024-10-08" class="ember-power-calendar-day ember-power-calendar-day--interactive ember-power-calendar-day--current-month" disabled="" type="button">
              8
          </button>
          <button data-date="2024-10-09" class="ember-power-calendar-day ember-power-calendar-day--interactive ember-power-calendar-day--current-month" disabled="" type="button">
              9
          </button>
          <button data-date="2024-10-10" class="ember-power-calendar-day ember-power-calendar-day--interactive ember-power-calendar-day--current-month" disabled="" type="button">
              10
          </button>
          <button data-date="2024-10-11" class="ember-power-calendar-day ember-power-calendar-day--interactive ember-power-calendar-day--current-month" disabled="" type="button">
              11
          </button>
          <button data-date="2024-10-12" class="ember-power-calendar-day ember-power-calendar-day--interactive ember-power-calendar-day--current-month" disabled="" type="button">
              12
          </button>
      </div>
      <div class="ember-power-calendar-row ember-power-calendar-week" data-missing-days="0">
          <button data-date="2024-10-13" class="ember-power-calendar-day ember-power-calendar-day--interactive ember-power-calendar-day--current-month" disabled="" type="button">
              13
          </button>
          <button data-date="2024-10-14" class="ember-power-calendar-day ember-power-calendar-day--interactive ember-power-calendar-day--current-month" disabled="" type="button">
              14
          </button>
          <button data-date="2024-10-15" class="ember-power-calendar-day ember-power-calendar-day--interactive ember-power-calendar-day--current-month" disabled="" type="button">
              15
          </button>
          <button data-date="2024-10-16" class="ember-power-calendar-day ember-power-calendar-day--interactive ember-power-calendar-day--current-month" disabled="" type="button">
              16
          </button>
          <button data-date="2024-10-17" class="ember-power-calendar-day ember-power-calendar-day--interactive ember-power-calendar-day--current-month" disabled="" type="button">
              17
          </button>
          <button data-date="2024-10-18" class="ember-power-calendar-day ember-power-calendar-day--interactive ember-power-calendar-day--current-month" disabled="" type="button">
              18
          </button>
          <button data-date="2024-10-19" class="ember-power-calendar-day ember-power-calendar-day--interactive ember-power-calendar-day--current-month" disabled="" type="button">
              19
          </button>
      </div>
      <div class="ember-power-calendar-row ember-power-calendar-week" data-missing-days="0">
          <button data-date="2024-10-20" class="ember-power-calendar-day ember-power-calendar-day--interactive ember-power-calendar-day--current-month" disabled="" type="button">
              20
          </button>
          <button data-date="2024-10-21" class="ember-power-calendar-day ember-power-calendar-day--interactive ember-power-calendar-day--current-month" disabled="" type="button">
              21
          </button>
          <button data-date="2024-10-22" class="ember-power-calendar-day ember-power-calendar-day--interactive ember-power-calendar-day--current-month" disabled="" type="button">
              22
          </button>
          <button data-date="2024-10-23" class="ember-power-calendar-day ember-power-calendar-day--interactive ember-power-calendar-day--current-month" disabled="" type="button">
              23
          </button>
          <button data-date="2024-10-24" class="ember-power-calendar-day ember-power-calendar-day--interactive ember-power-calendar-day--current-month" disabled="" type="button">
              24
          </button>
          <button data-date="2024-10-25" class="ember-power-calendar-day ember-power-calendar-day--interactive ember-power-calendar-day--current-month" disabled="" type="button">
              25
          </button>
          <button data-date="2024-10-26" class="ember-power-calendar-day ember-power-calendar-day--interactive ember-power-calendar-day--current-month" disabled="" type="button">
              26
          </button>
      </div>
      <div class="ember-power-calendar-row ember-power-calendar-week" data-missing-days="0">
          <button data-date="2024-10-27" class="ember-power-calendar-day ember-power-calendar-day--interactive ember-power-calendar-day--current-month" disabled="" type="button">
              27
          </button>
          <button data-date="2024-10-28" class="ember-power-calendar-day ember-power-calendar-day--interactive ember-power-calendar-day--current-month" disabled="" type="button">
              28
          </button>
          <button data-date="2024-10-29" class="ember-power-calendar-day ember-power-calendar-day--interactive ember-power-calendar-day--current-month ember-power-calendar-day--selected ember-power-calendar-day--today" type="button">
              29
          </button>
          <button data-date="2024-10-30" class="ember-power-calendar-day ember-power-calendar-day--interactive ember-power-calendar-day--current-month" type="button">
              30
          </button>
          <button data-date="2024-10-31" class="ember-power-calendar-day ember-power-calendar-day--interactive ember-power-calendar-day--current-month" disabled="" type="button">
              31
          </button>
          <button data-date="2024-11-01" class="ember-power-calendar-day ember-power-calendar-day--interactive ember-power-calendar-day--other-month" type="button">
              1
          </button>
          <button data-date="2024-11-02" class="ember-power-calendar-day ember-power-calendar-day--interactive ember-power-calendar-day--other-month" type="button">
              2
          </button>
      </div>
  </div>
</div>

  
    </div>

</div>
  </div>
  <div class="availability-timeslot-section col-md-5 col-xs-12 text-center">
    <div class="timeslot-selection">
      <div class="service-availability-results sub-container-xs-3">
        <div id="ember247" class="time-slot ember-view">  <div class="row">
    <div class="timeslot-heading">
      <div class="visible-xs-block">
        <div id="ember248" class="sticky-element-container ember-view"><div id="ember249" class="sticky-element__trigger sticky-element__trigger--top ember-view"></div>

<div class="
  sticky-element
  
  
  ">

  
          <a role="button" data-ember-action="" data-ember-action-250="250">
            Tuesday, Oct 29
            <span class="lnr lnr-calendar-full custom-color-text"></span>
          </a>
<!---->        

</div>

<!----></div>
      </div>
      <div class="hidden-xs">
        Tuesday, Oct 29
<!---->      </div>
    </div>
<!---->    <div class="col-sm-4">
      <h5 class="time-slot-heading-morning">MORNING</h5>
<!---->        <div class="time-slot-line"></div>
        <h5 class="no-appointments-text no-appointment-morning">No appointments</h5>
    </div>

    <div class="col-sm-4">
      <h5 class="time-slot-heading-afternoon">AFTERNOON</h5>
          <div id="ember251" class="timeslot slot-item-time ember-view"><button id="ember252" class="service-availability-select-or-call-button custom-color-bg custom-color-border-color btn btn-block btn-primary ember-view" type="button"><!---->
  1:30 pm

</button></div>
          <div id="ember253" class="timeslot slot-item-time ember-view"><button id="ember254" class="service-availability-select-or-call-button custom-color-bg custom-color-border-color btn btn-block btn-primary ember-view" type="button"><!---->
  1:45 pm

</button></div>
          <div id="ember255" class="timeslot slot-item-time ember-view"><button id="ember256" class="service-availability-select-or-call-button custom-color-bg custom-color-border-color btn btn-block btn-primary ember-view" type="button"><!---->
  2:00 pm

</button></div>
          <div id="ember257" class="timeslot slot-item-time ember-view"><button id="ember258" class="service-availability-select-or-call-button custom-color-bg custom-color-border-color btn btn-block btn-primary ember-view" type="button"><!---->
  2:15 pm

</button></div>
          <div id="ember259" class="timeslot slot-item-time ember-view"><button id="ember260" class="service-availability-select-or-call-button custom-color-bg custom-color-border-color btn btn-block btn-primary ember-view" type="button"><!---->
  2:30 pm

</button></div>
          <div id="ember261" class="timeslot slot-item-time ember-view"><button id="ember262" class="service-availability-select-or-call-button custom-color-bg custom-color-border-color btn btn-block btn-primary ember-view" type="button"><!---->
  2:45 pm

</button></div>
          <div id="ember263" class="timeslot slot-item-time ember-view"><button id="ember264" class="service-availability-select-or-call-button custom-color-bg custom-color-border-color btn btn-block btn-primary ember-view" type="button"><!---->
  3:00 pm

</button></div>
          <div id="ember265" class="timeslot slot-item-time ember-view"><button id="ember266" class="service-availability-select-or-call-button custom-color-bg custom-color-border-color btn btn-block btn-primary ember-view" type="button"><!---->
  3:15 pm

</button></div>
          <div id="ember267" class="timeslot slot-item-time ember-view"><button id="ember268" class="service-availability-select-or-call-button custom-color-bg custom-color-border-color btn btn-block btn-primary ember-view" type="button"><!---->
  3:30 pm

</button></div>
          <div id="ember269" class="timeslot slot-item-time ember-view"><button id="ember270" class="service-availability-select-or-call-button custom-color-bg custom-color-border-color btn btn-block btn-primary ember-view" type="button"><!---->
  3:45 pm

</button></div>
          <div id="ember271" class="timeslot slot-item-time ember-view"><button id="ember272" class="service-availability-select-or-call-button custom-color-bg custom-color-border-color btn btn-block btn-primary ember-view" type="button"><!---->
  4:00 pm

</button></div>
<!---->    </div>

    <div class="col-sm-4">
      <h5 class="time-slot-heading-evening">EVENING</h5>
<!---->        <div class="time-slot-line"></div>
        <h5 class="no-appointments-text no-appointment-evening">No appointments</h5>
    </div>
  </div>
</div>
      </div>
    </div>
      <div class="call-us-availability col-sm-12 text-center sub-container-sm-1 sub-container-xs-1">
        <p>Can’t find an appointment time that works for you?</p>
        <p>
          Call us at  <a href="tel:7135236905" id="ember273" class="phone-link custom-color-text ember-view">(713) 523-6905
</a>  to book.
        </p>
      </div>
    <!---->

  </div>
</div>

<div class="visible-xs-block ui-tray-container ">
  <div class="ui-tray-background" role="button"></div>
  <div class="ui-tray">
    

  <div class="ui-tray-header media-object media-object-right sub-container-xs-3" role="button">
  <span class="ui-tray-header-icon"></span>
  
    <span class="itinerary-tray-title">Your Appointment</span>
    <div class="services-summary no-separator">
      <ul id="ember274" class="ui-separator-list ember-view">

        <li id="ember275" class="services-summary-count ui-separator-list-item separator-dot ember-view">
          1 service
        </li>
          <li id="ember276" class="services-summary-duration ui-separator-list-item separator-dot ember-view">
            15 min
          </li>
      </ul>
    </div>
  
</div>

  <!---->


    

  <!---->

  <div class="ui-tray-body sub-container-xs-3">
  
    <div class="your-appointment">
  <div id="ember277" class="ui-card ember-view"><!----><div class="ui-card-inner">
  
    <div id="ember278" class="ui-card-content horizontal-padding-medium vertical-padding-medium ember-view">
  
        <div>
          <div class="employee-tag media-object ui-name-tag">
    <div class="media-object-float">
          <span class="employee-picture employee-picture-static">
      <span class="lnr-man"></span>
    </span>

    </div>
</div>

        </div>
      <div>
        <span class="ui-title">
  Color Consultation
</span>

          <div>
              <span class="employee-tag-label">with any male staff</span>
                <button class="btn-link employee-tag-change custom-color-text" type="button">
                  change
                </button>
          </div>
      </div>
    
</div>
  
</div></div>
  
<!---->    
<!----></div>

  
</div>



  </div>
</div>



</main>

  <footer class="footer" style="visibility: visible;">
  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 hidden-xs footer-section">
          <ul class="footer-column footer-location-info">
              <li>
                <span class="lnr lnr-envelope"></span>
                <a href="mailto:marbellasalon@gmail.com" class="footer-email">
                  Email us
                </a>
              </li>

              <li>
                <span class="lnr lnr-telephone"></span>
                <a href="tel:7135236905" class="footer-phone">
                  (713) 523-6905
                </a>
              </li>

            <li>
              <span class="lnr lnr-map-marker"></span>
              <a href="/location/marbellasalon/contact" id="ember94" class="ember-view footer-mapHours">
                Maps and Hours
              </a>
            </li>

              <li>
                <span class="lnr lnr-home"></span>
                <a href="http://www.marbellaspaandsalon.com" class="footer-website-link" target="_blank" rel="noopener noreferrer">
                  Our Website
                </a>
              </li>
          </ul>

          <ul class="footer-column footer-social-media">
              <li>
                <a href="https://instagram.com/marbellasalon/" target="_blank" class="instagram-link social-media-links" rel="noopener" data-ember-action="" data-ember-action-95="95">
  <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg" class="social-media-icons"><g fill="#838B91" fill-rule="nonzero"><path d="M10.978 1.982c2.932 0 3.276.013 4.435.066 1.072.047 1.651.226 2.039.379.514.2.88.435 1.263.819.384.383.623.749.82 1.263.147.388.33.967.378 2.039.053 1.159.066 1.503.066 4.435 0 2.931-.013 3.276-.066 4.434-.048 1.072-.226 1.652-.379 2.04-.2.513-.435.88-.819 1.263-.383.383-.75.623-1.263.819-.388.148-.967.33-2.039.379-1.159.052-1.503.065-4.435.065-2.932 0-3.276-.013-4.435-.065-1.071-.048-1.65-.227-2.038-.38-.515-.2-.88-.435-1.264-.818a3.353 3.353 0 01-.819-1.264c-.148-.387-.33-.967-.379-2.039-.052-1.158-.065-1.503-.065-4.434 0-2.932.013-3.276.065-4.435.048-1.072.227-1.651.38-2.04.2-.513.435-.88.818-1.262.384-.384.75-.623 1.264-.82.387-.148.967-.33 2.038-.378 1.16-.057 1.503-.066 4.435-.066zm0-1.978c-2.98 0-3.354.013-4.526.066C5.284.122 4.487.31 3.79.58a5.35 5.35 0 00-1.943 1.267A5.443 5.443 0 00.58 3.79C.31 4.487.122 5.284.07 6.456.018 7.624.005 7.998.005 10.978c0 2.98.013 3.355.066 4.527.052 1.167.24 1.964.51 2.666a5.35 5.35 0 001.267 1.943c.61.61 1.224.984 1.943 1.267.697.27 1.494.458 2.666.51 1.172.052 1.542.065 4.527.065 2.984 0 3.354-.013 4.526-.065 1.167-.052 1.965-.24 2.666-.51a5.35 5.35 0 001.943-1.267c.61-.61.985-1.224 1.268-1.943.27-.697.457-1.495.51-2.666.052-1.172.065-1.543.065-4.527s-.013-3.354-.066-4.526c-.052-1.168-.24-1.965-.51-2.666a5.35 5.35 0 00-1.267-1.943A5.443 5.443 0 0018.175.575c-.697-.27-1.494-.457-2.666-.51-1.176-.048-1.551-.06-4.53-.06z"></path><path d="M10.978 5.341a5.638 5.638 0 000 11.274 5.64 5.64 0 005.637-5.637 5.64 5.64 0 00-5.637-5.637zm0 9.297a3.659 3.659 0 110-7.318 3.659 3.659 0 010 7.318z"></path><circle cx="16.838" cy="5.119" r="1.316"></circle></g></svg>
</a>
              </li>
              <li>
                <a href="https://facebook.com/marbellasalonmontrose" target="_blank" class="facebook-link social-media-links" rel="noopener" data-ember-action="" data-ember-action-96="96">
  <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg" class="social-media-icons"><path d="M18.7 6.2h-1.8c-1.4 0-1.7.6-1.7 1.6v2h3.3l-.3 3.2h-2.9v8.2h-3.5V13H9V9.8h2.9V7.5c0-2.7 1.7-4.2 4.3-4.2 1.2 0 2.3.1 2.6.1v2.8h-.1zM20.8 0H1.2C.5 0 0 .5 0 1.2v19.2c0 .7.5 1.2 1.2 1.2h19.6c.7 0 1.2-.5 1.2-1.2V1.2c0-.7-.6-1.2-1.2-1.2z" fill="#838B91" fill-rule="evenodd"></path></svg>
</a>
              </li>
          </ul>
        </div>
      <div class="col-sm-12 col-md-4 footer-logo-column">
        <ul class="footer-column logo-column">
          <li class="footer-logo-container">
            <a href="https://www.mindbodyonline.com/" class="footer-logo-link" target="_blank" rel="noopener noreferrer">
              <img class="footer-logo" src="/images/mb-logo-2020-masterfile-horizontal-powered-lockup-black.svg" alt="Powered by Mindbody.">
            </a>
          </li>
          <li>
            <a href="https://company.mindbodyonline.com/legal/privacy-policy" target="_blank" class="footer-privacy-link" rel="noopener noreferrer">
              Privacy
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>



<!----></body>