@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body id="custom-colors" class="ember-application location location-service location-service-selectStaff" style="">
    
    

    <script async="" src="https://cdn.pendo.io/agent/static/c45d173a-d192-46f8-4c58-5441bb4fe4bb/pendo.js"></script><script async="" src="//www.google-analytics.com/analytics.js"></script><script src="/assets/vendor-ea9e506833f1f17edaa8ac76c0690f5f.js" integrity="sha256-7dTXW+Oz2dnfitSGQfNmjjqOr1NExlwQSe5iz78oAXg= sha512-8DH38Wi08iHc+paet92DuDtDDuxvM2/V1baqc/kkXlxqFzKivbjbVeNLn5tHrKwk2MU7HzmiuSiAOpGBLKg+iA=="></script>
    <script src="/assets/cf2-cli-6f7a4385426419fdff579138e6839c4c.js" integrity="sha256-9NXPNq0dQZjpCN/vB9laN02GOCQioXKzAkRkUlb14Xw= sha512-zPsk/zLpDXcgAnSlC47TNsr/9Z95QmmmmrfhdFbkg6bLwn5J0eT7P7Uqx5qfxW9izyGHw6QrvfngxjpEbC8VXQ=="></script>

    <div id="ember-bootstrap-wormhole"></div>
<div id="ember-basic-dropdown-wormhole"></div>
 
  <div class="location-header">
  <nav id="ember51" class="navbar navbar-fixed-top navbar-default ember-view" aria-label="Main menu" role="banner" style="border-bottom: none;"><div class="container-fluid">
  
    <div class="navbar-header">
          <a href="http://www.marbellaspaandsalon.com" target="_blank" class="business-image-container" rel="noopener noreferrer">
            <div>
              <img class="business-logo responsive-img" src="https://assets.secure-booker.com/spas/48368/47e6e4c4-1e37-4873-b3de-f9da1238b410.png" alt="Marbella Salon">
            </div>
          </a>
      <button id="ember52" class="navbar-toggle collapsed ember-view">  <span class="sr-only">Toggle navigation</span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</button>
    </div>
    <div id="ember53" class="col-xs-8 navbar-custom-bg navbar-collapse collapse ember-view">
      <ul id="ember54" class="nav navbar-nav ember-view">
<!---->          <li id="ember55" class="ember-view">
<a href="/location/marbellasalon/signin" id="ember56" class="header-link navbar-text-color header-signin ember-view">              <span class="lnr lnr-man"></span>Sign in
</a>          </li>


           <li id="ember57" class="ember-view navbar-Book">
<a href="/location/marbellasalon/service-menu" id="ember58" class="header-link navbar-text-color ember-view">              <span class="lnr" icon="CALENDAR"></span>Book
</a>          </li>
<!---->        <li id="ember59" class="ember-view">
<a href="/location/MarbellaSalon/onlinecart" id="ember60" class="header-link navbar-text-color header-cart-link ember-view">            <span class="lnr lnr-cart"></span><!---->Cart
</a>        </li>
      
</ul>

      <ul id="ember61" class="visible-xs-block header-contact nav navbar-nav ember-view">
          <li id="ember62" class="ember-view">
            <a href="tel:7135236905" class="header-link navbar-text-color header-contact-phone">
              <span class="lnr lnr-telephone"></span>
              (713) 523-6905
            </a>
          </li>
          <li id="ember63" class="ember-view">
            <a href="mailto:marbellasalon@gmail.com" class="header-link navbar-text-color header-contact-email">
              <span class="lnr lnr-envelope"></span>
              Email us
            </a>
          </li>
        <li id="ember64" class="ember-view">
<a href="/location/marbellasalon/contact" id="ember65" class="header-link navbar-text-color header-contact-maps ember-view">            <span class="lnr lnr-map-marker"></span>
            Map and Hours
</a>        </li>
          <li id="ember66" class="ember-view">
            <a href="http://www.marbellaspaandsalon.com" class="header-link navbar-text-color header-contact-website" target="_blank" rel="noopener noreferrer">
              <span class="lnr lnr-home"></span>
              Our Website
            </a>
          </li>
      
</ul>
      <div class="social-media-container">
          <a href="https://instagram.com/marbellasalon/" target="_blank" class="instagram-link social-media-links" rel="noopener" data-ember-action="" data-ember-action-68="68">
  <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg" class="social-media-icons"><g fill="#838B91" fill-rule="nonzero"><path d="M10.978 1.982c2.932 0 3.276.013 4.435.066 1.072.047 1.651.226 2.039.379.514.2.88.435 1.263.819.384.383.623.749.82 1.263.147.388.33.967.378 2.039.053 1.159.066 1.503.066 4.435 0 2.931-.013 3.276-.066 4.434-.048 1.072-.226 1.652-.379 2.04-.2.513-.435.88-.819 1.263-.383.383-.75.623-1.263.819-.388.148-.967.33-2.039.379-1.159.052-1.503.065-4.435.065-2.932 0-3.276-.013-4.435-.065-1.071-.048-1.65-.227-2.038-.38-.515-.2-.88-.435-1.264-.818a3.353 3.353 0 01-.819-1.264c-.148-.387-.33-.967-.379-2.039-.052-1.158-.065-1.503-.065-4.434 0-2.932.013-3.276.065-4.435.048-1.072.227-1.651.38-2.04.2-.513.435-.88.818-1.262.384-.384.75-.623 1.264-.82.387-.148.967-.33 2.038-.378 1.16-.057 1.503-.066 4.435-.066zm0-1.978c-2.98 0-3.354.013-4.526.066C5.284.122 4.487.31 3.79.58a5.35 5.35 0 00-1.943 1.267A5.443 5.443 0 00.58 3.79C.31 4.487.122 5.284.07 6.456.018 7.624.005 7.998.005 10.978c0 2.98.013 3.355.066 4.527.052 1.167.24 1.964.51 2.666a5.35 5.35 0 001.267 1.943c.61.61 1.224.984 1.943 1.267.697.27 1.494.458 2.666.51 1.172.052 1.542.065 4.527.065 2.984 0 3.354-.013 4.526-.065 1.167-.052 1.965-.24 2.666-.51a5.35 5.35 0 001.943-1.267c.61-.61.985-1.224 1.268-1.943.27-.697.457-1.495.51-2.666.052-1.172.065-1.543.065-4.527s-.013-3.354-.066-4.526c-.052-1.168-.24-1.965-.51-2.666a5.35 5.35 0 00-1.267-1.943A5.443 5.443 0 0018.175.575c-.697-.27-1.494-.457-2.666-.51-1.176-.048-1.551-.06-4.53-.06z"></path><path d="M10.978 5.341a5.638 5.638 0 000 11.274 5.64 5.64 0 005.637-5.637 5.64 5.64 0 00-5.637-5.637zm0 9.297a3.659 3.659 0 110-7.318 3.659 3.659 0 010 7.318z"></path><circle cx="16.838" cy="5.119" r="1.316"></circle></g></svg>
</a>
          <a href="https://facebook.com/marbellasalonmontrose" target="_blank" class="facebook-link social-media-links" rel="noopener" data-ember-action="" data-ember-action-70="70">
  <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg" class="social-media-icons"><path d="M18.7 6.2h-1.8c-1.4 0-1.7.6-1.7 1.6v2h3.3l-.3 3.2h-2.9v8.2h-3.5V13H9V9.8h2.9V7.5c0-2.7 1.7-4.2 4.3-4.2 1.2 0 2.3.1 2.6.1v2.8h-.1zM20.8 0H1.2C.5 0 0 .5 0 1.2v19.2c0 .7.5 1.2 1.2 1.2h19.6c.7 0 1.2-.5 1.2-1.2V1.2c0-.7-.6-1.2-1.2-1.2z" fill="#838B91" fill-rule="evenodd"></path></svg>
</a>
      </div>
    
</div>
  
</div>
</nav>
</div>

<main class="container-fluid main-container no-paddings-xs ">
  
<div class="select-staff-component">
  <div class="main-heading-wrapper row ">
  <div class="col-xs-12">
    <div class="sub-container-xs-2 sub-container-sm-0">
        <a class="custom-color-text back-link" role="button" data-ember-action="" data-ember-action-175="175">
          <span class="lnr-chevron-left"></span>
          <span class="hidden-xs">
            Back
          </span>
        </a>
      <h1 class="main-heading booking-heading">
    <span>
      Select staff for
    </span>
    <span>
      Color Consultation
    </span>
  </h1>
    </div>
  </div>
</div>

<!---->
  <div class="row">
    <div class="col-sm-12">
      <div class="content-wrapper-secondary sub-container-xs-1 sub-container-sm-3">
        <div class="row">
          <div class="employee-card employee-card-static info-card col-sm-6 col-xs-12 employee-card-anyone col-sm-offset-3">
  <div class="sub-container-sm-1">
    <div class="info-card-inner sub-container-xs-1 sub-container-sm-2 ">
          <span class="employee-picture employee-picture-static employee-picture-anyone">
    <span class="lnr-woman"></span><span class="lnr-man"></span>
  </span>

<!----><!---->
      <div class="employee-card-text-content">
        <div class="info-card-top">
              <button class="btn btn-primary info-card-btn custom-color-bg" aria-label="Select staff any available staff" type="button" data-ember-action="" data-ember-action-176="176">
                Select
              </button>
<!----><!---->          <div class="info-card-top-left">
            <span class="info-card-name">any available staff</span>
          </div>
        </div>
        <div class="info-card-description">Maximize number of available appointment times.</div>
      </div>

    </div>
  </div>
</div>
              <div class="employee-card employee-card-static info-card col-sm-6 col-xs-12 employee-card-female">
  <div class="sub-container-sm-1">
    <div class="info-card-inner sub-container-xs-1 sub-container-sm-2 ">
<!----><!---->            <span class="employee-picture employee-picture-static">
      <span class="lnr-woman"></span>
    </span>
  

      <div class="employee-card-text-content">
        <div class="info-card-top">
<!----><!---->              <button class="btn btn-primary info-card-btn custom-color-bg" aria-label="Select staff any female staff" type="button" data-ember-action="" data-ember-action-177="177">
                Select
              </button>
          <div class="info-card-top-left">
            <span class="info-card-name">any female staff</span>
          </div>
        </div>
        <div class="info-card-description">Show me appointments with any female.</div>
      </div>

    </div>
  </div>
</div>
              <div class="employee-card employee-card-static info-card col-sm-6 col-xs-12 employee-card-male">
  <div class="sub-container-sm-1">
    <div class="info-card-inner sub-container-xs-1 sub-container-sm-2 ">
<!---->            <span class="employee-picture employee-picture-static">
      <span class="lnr-man"></span>
    </span>

<!---->
      <div class="employee-card-text-content">
        <div class="info-card-top">
<!---->              <button class="btn btn-primary info-card-btn custom-color-bg" aria-label="Select staff any male staff" type="button" data-ember-action="" data-ember-action-178="178">
                Select
              </button>
<!---->          <div class="info-card-top-left">
            <span class="info-card-name">any male staff</span>
          </div>
        </div>
        <div class="info-card-description">Show me appointments with any male.</div>
      </div>

    </div>
  </div>
</div>
              <div class="employee-card info-card col-sm-6 col-xs-12">
  <div class="sub-container-sm-1 ">
    <div class="info-card-inner sub-container-xs-1 sub-container-sm-2 ">
          <span class="employee-picture employee-picture-first-initial-wrap">
      <span class="employee-picture-first-initial">E</span>
    </span>

      <div class="employee-card-text-content">
        <div class="info-card-top">
          <div class="info-card-top-left">
              <button class="btn btn-primary info-card-btn custom-color-bg" aria-label="Select staff Erica  Stietenroth" type="button">
                Select
              </button>
            <span class="info-card-name">Erica  Stietenroth</span>
<!----><!---->          </div>
        </div>
      </div>
    </div>
  </div>
</div>
              <div class="employee-card info-card col-sm-6 col-xs-12">
  <div class="sub-container-sm-1 ">
    <div class="info-card-inner sub-container-xs-1 sub-container-sm-2 ">
          <span class="employee-picture employee-picture-first-initial-wrap">
      <span class="employee-picture-first-initial">M</span>
    </span>

      <div class="employee-card-text-content">
        <div class="info-card-top">
          <div class="info-card-top-left">
              <button class="btn btn-primary info-card-btn custom-color-bg" aria-label="Select staff Mike Anthony" type="button">
                Select
              </button>
            <span class="info-card-name">Mike Anthony</span>
<!----><!---->          </div>
        </div>
      </div>
    </div>
  </div>
</div>
              <div class="employee-card info-card col-sm-6 col-xs-12">
  <div class="sub-container-sm-1 ">
    <div class="info-card-inner sub-container-xs-1 sub-container-sm-2 ">
          <span class="employee-picture employee-picture-first-initial-wrap">
      <span class="employee-picture-first-initial">K</span>
    </span>

      <div class="employee-card-text-content">
        <div class="info-card-top">
          <div class="info-card-top-left">
              <button class="btn btn-primary info-card-btn custom-color-bg" aria-label="Select staff Katarina Cafolla" type="button">
                Select
              </button>
            <span class="info-card-name">Katarina Cafolla</span>
<!----><!---->          </div>
        </div>
      </div>
    </div>
  </div>
</div>
              <div class="employee-card info-card col-sm-6 col-xs-12">
  <div class="sub-container-sm-1 ">
    <div class="info-card-inner sub-container-xs-1 sub-container-sm-2 ">
          <span class="employee-picture employee-picture-first-initial-wrap">
      <span class="employee-picture-first-initial">s</span>
    </span>

      <div class="employee-card-text-content">
        <div class="info-card-top">
          <div class="info-card-top-left">
              <button class="btn btn-primary info-card-btn custom-color-bg" aria-label="Select staff sydney Aguilar" type="button">
                Select
              </button>
            <span class="info-card-name">sydney Aguilar</span>
<!----><!---->          </div>
        </div>
      </div>
    </div>
  </div>
</div>
          <span class="col-sm-6 sub-container-sm-2 hidden-xs"></span>
        </div>
      </div>
    </div>
  </div>
</div>

</main>

  <footer class="footer" style="visibility: visible;">
  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 hidden-xs footer-section">
          <ul class="footer-column footer-location-info">
              <li>
                <span class="lnr lnr-envelope"></span>
                <a href="mailto:marbellasalon@gmail.com" class="footer-email">
                  Email us
                </a>
              </li>

              <li>
                <span class="lnr lnr-telephone"></span>
                <a href="tel:7135236905" class="footer-phone">
                  (713) 523-6905
                </a>
              </li>

            <li>
              <span class="lnr lnr-map-marker"></span>
              <a href="/location/marbellasalon/contact" id="ember94" class="ember-view footer-mapHours">
                Maps and Hours
              </a>
            </li>

              <li>
                <span class="lnr lnr-home"></span>
                <a href="http://www.marbellaspaandsalon.com" class="footer-website-link" target="_blank" rel="noopener noreferrer">
                  Our Website
                </a>
              </li>
          </ul>

          <ul class="footer-column footer-social-media">
              <li>
                <a href="https://instagram.com/marbellasalon/" target="_blank" class="instagram-link social-media-links" rel="noopener" data-ember-action="" data-ember-action-95="95">
  <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg" class="social-media-icons"><g fill="#838B91" fill-rule="nonzero"><path d="M10.978 1.982c2.932 0 3.276.013 4.435.066 1.072.047 1.651.226 2.039.379.514.2.88.435 1.263.819.384.383.623.749.82 1.263.147.388.33.967.378 2.039.053 1.159.066 1.503.066 4.435 0 2.931-.013 3.276-.066 4.434-.048 1.072-.226 1.652-.379 2.04-.2.513-.435.88-.819 1.263-.383.383-.75.623-1.263.819-.388.148-.967.33-2.039.379-1.159.052-1.503.065-4.435.065-2.932 0-3.276-.013-4.435-.065-1.071-.048-1.65-.227-2.038-.38-.515-.2-.88-.435-1.264-.818a3.353 3.353 0 01-.819-1.264c-.148-.387-.33-.967-.379-2.039-.052-1.158-.065-1.503-.065-4.434 0-2.932.013-3.276.065-4.435.048-1.072.227-1.651.38-2.04.2-.513.435-.88.818-1.262.384-.384.75-.623 1.264-.82.387-.148.967-.33 2.038-.378 1.16-.057 1.503-.066 4.435-.066zm0-1.978c-2.98 0-3.354.013-4.526.066C5.284.122 4.487.31 3.79.58a5.35 5.35 0 00-1.943 1.267A5.443 5.443 0 00.58 3.79C.31 4.487.122 5.284.07 6.456.018 7.624.005 7.998.005 10.978c0 2.98.013 3.355.066 4.527.052 1.167.24 1.964.51 2.666a5.35 5.35 0 001.267 1.943c.61.61 1.224.984 1.943 1.267.697.27 1.494.458 2.666.51 1.172.052 1.542.065 4.527.065 2.984 0 3.354-.013 4.526-.065 1.167-.052 1.965-.24 2.666-.51a5.35 5.35 0 001.943-1.267c.61-.61.985-1.224 1.268-1.943.27-.697.457-1.495.51-2.666.052-1.172.065-1.543.065-4.527s-.013-3.354-.066-4.526c-.052-1.168-.24-1.965-.51-2.666a5.35 5.35 0 00-1.267-1.943A5.443 5.443 0 0018.175.575c-.697-.27-1.494-.457-2.666-.51-1.176-.048-1.551-.06-4.53-.06z"></path><path d="M10.978 5.341a5.638 5.638 0 000 11.274 5.64 5.64 0 005.637-5.637 5.64 5.64 0 00-5.637-5.637zm0 9.297a3.659 3.659 0 110-7.318 3.659 3.659 0 010 7.318z"></path><circle cx="16.838" cy="5.119" r="1.316"></circle></g></svg>
</a>
              </li>
              <li>
                <a href="https://facebook.com/marbellasalonmontrose" target="_blank" class="facebook-link social-media-links" rel="noopener" data-ember-action="" data-ember-action-96="96">
  <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg" class="social-media-icons"><path d="M18.7 6.2h-1.8c-1.4 0-1.7.6-1.7 1.6v2h3.3l-.3 3.2h-2.9v8.2h-3.5V13H9V9.8h2.9V7.5c0-2.7 1.7-4.2 4.3-4.2 1.2 0 2.3.1 2.6.1v2.8h-.1zM20.8 0H1.2C.5 0 0 .5 0 1.2v19.2c0 .7.5 1.2 1.2 1.2h19.6c.7 0 1.2-.5 1.2-1.2V1.2c0-.7-.6-1.2-1.2-1.2z" fill="#838B91" fill-rule="evenodd"></path></svg>
</a>
              </li>
          </ul>
        </div>
      <div class="col-sm-12 col-md-4 footer-logo-column">
        <ul class="footer-column logo-column">
          <li class="footer-logo-container">
            <a href="https://www.mindbodyonline.com/" class="footer-logo-link" target="_blank" rel="noopener noreferrer">
              <img class="footer-logo" src="/images/mb-logo-2020-masterfile-horizontal-powered-lockup-black.svg" alt="Powered by Mindbody.">
            </a>
          </li>
          <li>
            <a href="https://company.mindbodyonline.com/legal/privacy-policy" target="_blank" class="footer-privacy-link" rel="noopener noreferrer">
              Privacy
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>



<!----></body>