@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body id="custom-colors" class="ember-application location location-addServices" style="">
    
    

    <script async="" src="https://cdn.pendo.io/agent/static/c45d173a-d192-46f8-4c58-5441bb4fe4bb/pendo.js"></script><script async="" src="//www.google-analytics.com/analytics.js"></script><script src="/assets/vendor-ea9e506833f1f17edaa8ac76c0690f5f.js" integrity="sha256-7dTXW+Oz2dnfitSGQfNmjjqOr1NExlwQSe5iz78oAXg= sha512-8DH38Wi08iHc+paet92DuDtDDuxvM2/V1baqc/kkXlxqFzKivbjbVeNLn5tHrKwk2MU7HzmiuSiAOpGBLKg+iA=="></script>
    <script src="/assets/cf2-cli-6f7a4385426419fdff579138e6839c4c.js" integrity="sha256-9NXPNq0dQZjpCN/vB9laN02GOCQioXKzAkRkUlb14Xw= sha512-zPsk/zLpDXcgAnSlC47TNsr/9Z95QmmmmrfhdFbkg6bLwn5J0eT7P7Uqx5qfxW9izyGHw6QrvfngxjpEbC8VXQ=="></script>

    <div id="ember-bootstrap-wormhole"></div>
<div id="ember-basic-dropdown-wormhole"></div>

  <div class="location-header">
  <nav id="ember51" class="navbar navbar-fixed-top navbar-default ember-view" aria-label="Main menu" role="banner" style="border-bottom: 1px solid rgb(238, 238, 238);"><div class="container-fluid">
  
    <div class="navbar-header">
          <a href="http://www.marbellaspaandsalon.com" target="_blank" class="business-image-container" rel="noopener noreferrer">
            <div>
              <img class="business-logo responsive-img" src="https://assets.secure-booker.com/spas/48368/47e6e4c4-1e37-4873-b3de-f9da1238b410.png" alt="Marbella Salon">
            </div>
          </a>
      <button id="ember52" class="navbar-toggle collapsed ember-view">  <span class="sr-only">Toggle navigation</span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</button>
    </div>
    <div id="ember53" class="col-xs-8 navbar-custom-bg navbar-collapse collapse ember-view">
      <ul id="ember54" class="nav navbar-nav ember-view">
<!---->          <li id="ember55" class="ember-view">
<a href="/location/marbellasalon/signin" id="ember56" class="header-link navbar-text-color header-signin ember-view">              <span class="lnr lnr-man"></span>Sign in
</a>          </li>


           <li id="ember57" class="ember-view navbar-Book">
<a href="/location/marbellasalon/service-menu" id="ember58" class="header-link navbar-text-color ember-view">              <span class="lnr" icon="CALENDAR"></span>Book
</a>          </li>
<!---->        <li id="ember59" class="ember-view">
<a href="/location/MarbellaSalon/onlinecart" id="ember60" class="header-link navbar-text-color header-cart-link ember-view">            <span class="lnr lnr-cart"></span><!---->Cart
</a>        </li>
      
</ul>

      <ul id="ember61" class="visible-xs-block header-contact nav navbar-nav ember-view">
          <li id="ember62" class="ember-view">
            <a href="tel:7135236905" class="header-link navbar-text-color header-contact-phone">
              <span class="lnr lnr-telephone"></span>
              (713) 523-6905
            </a>
          </li>
          <li id="ember63" class="ember-view">
            <a href="mailto:marbellasalon@gmail.com" class="header-link navbar-text-color header-contact-email">
              <span class="lnr lnr-envelope"></span>
              Email us
            </a>
          </li>
        <li id="ember64" class="ember-view">
<a href="/location/marbellasalon/contact" id="ember65" class="header-link navbar-text-color header-contact-maps ember-view">            <span class="lnr lnr-map-marker"></span>
            Map and Hours
</a>        </li>
          <li id="ember66" class="ember-view">
            <a href="http://www.marbellaspaandsalon.com" class="header-link navbar-text-color header-contact-website" target="_blank" rel="noopener noreferrer">
              <span class="lnr lnr-home"></span>
              Our Website
            </a>
          </li>
      
</ul>
      <div class="social-media-container">
          <a href="https://instagram.com/marbellasalon/" target="_blank" class="instagram-link social-media-links" rel="noopener" data-ember-action="" data-ember-action-68="68">
  <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg" class="social-media-icons"><g fill="#838B91" fill-rule="nonzero"><path d="M10.978 1.982c2.932 0 3.276.013 4.435.066 1.072.047 1.651.226 2.039.379.514.2.88.435 1.263.819.384.383.623.749.82 1.263.147.388.33.967.378 2.039.053 1.159.066 1.503.066 4.435 0 2.931-.013 3.276-.066 4.434-.048 1.072-.226 1.652-.379 2.04-.2.513-.435.88-.819 1.263-.383.383-.75.623-1.263.819-.388.148-.967.33-2.039.379-1.159.052-1.503.065-4.435.065-2.932 0-3.276-.013-4.435-.065-1.071-.048-1.65-.227-2.038-.38-.515-.2-.88-.435-1.264-.818a3.353 3.353 0 01-.819-1.264c-.148-.387-.33-.967-.379-2.039-.052-1.158-.065-1.503-.065-4.434 0-2.932.013-3.276.065-4.435.048-1.072.227-1.651.38-2.04.2-.513.435-.88.818-1.262.384-.384.75-.623 1.264-.82.387-.148.967-.33 2.038-.378 1.16-.057 1.503-.066 4.435-.066zm0-1.978c-2.98 0-3.354.013-4.526.066C5.284.122 4.487.31 3.79.58a5.35 5.35 0 00-1.943 1.267A5.443 5.443 0 00.58 3.79C.31 4.487.122 5.284.07 6.456.018 7.624.005 7.998.005 10.978c0 2.98.013 3.355.066 4.527.052 1.167.24 1.964.51 2.666a5.35 5.35 0 001.267 1.943c.61.61 1.224.984 1.943 1.267.697.27 1.494.458 2.666.51 1.172.052 1.542.065 4.527.065 2.984 0 3.354-.013 4.526-.065 1.167-.052 1.965-.24 2.666-.51a5.35 5.35 0 001.943-1.267c.61-.61.985-1.224 1.268-1.943.27-.697.457-1.495.51-2.666.052-1.172.065-1.543.065-4.527s-.013-3.354-.066-4.526c-.052-1.168-.24-1.965-.51-2.666a5.35 5.35 0 00-1.267-1.943A5.443 5.443 0 0018.175.575c-.697-.27-1.494-.457-2.666-.51-1.176-.048-1.551-.06-4.53-.06z"></path><path d="M10.978 5.341a5.638 5.638 0 000 11.274 5.64 5.64 0 005.637-5.637 5.64 5.64 0 00-5.637-5.637zm0 9.297a3.659 3.659 0 110-7.318 3.659 3.659 0 010 7.318z"></path><circle cx="16.838" cy="5.119" r="1.316"></circle></g></svg>
</a>
          <a href="https://facebook.com/marbellasalonmontrose" target="_blank" class="facebook-link social-media-links" rel="noopener" data-ember-action="" data-ember-action-70="70">
  <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg" class="social-media-icons"><path d="M18.7 6.2h-1.8c-1.4 0-1.7.6-1.7 1.6v2h3.3l-.3 3.2h-2.9v8.2h-3.5V13H9V9.8h2.9V7.5c0-2.7 1.7-4.2 4.3-4.2 1.2 0 2.3.1 2.6.1v2.8h-.1zM20.8 0H1.2C.5 0 0 .5 0 1.2v19.2c0 .7.5 1.2 1.2 1.2h19.6c.7 0 1.2-.5 1.2-1.2V1.2c0-.7-.6-1.2-1.2-1.2z" fill="#838B91" fill-rule="evenodd"></path></svg>
</a>
      </div>
    
</div>
  
</div>
</nav>
</div>

<main class="container-fluid main-container no-paddings-xs ">
  <div class="add-services-route">
    <div class="main-heading-wrapper row ">
  <div class="col-xs-12">
    <div class="sub-container-xs-2 sub-container-sm-0">
<!---->      <h1 class="main-heading booking-heading">Select Your Services</h1>
    </div>
  </div>
</div>

<!---->    <div class="sticky-element-parent">
      <div class="row">
        <div class="col-sm-8 add-services-nav">
          <div id="ember115" class="grouped-services-nav-component ember-view"><div>
      <div id="ember116" class="grouped-nav-sticky sticky-element-container ember-view"><div id="ember117" class="sticky-element__trigger sticky-element__trigger--top ember-view"></div>

<div class="
  sticky-element
  
  
  " style="">

  
        <button class="group-nav-buttons" type="button" style="display: none;">
          <span class="lnr lnr-chevron-left group-nav-left-arrow"></span>
        </button>
        <button id="category-drawer-btn" type="button">
          <svg viewBox="4 2 25 25">
            <path d="M24.6930297 12.6053239c.2179736-.169535.5321114-.1302678.7016464.0877058s.1302678.5321114-.0877058.7016464l-9 7c-.1805552.1404319-.4333854.1404319-.6139406 0l-9.00000001-7c-.21797359-.169535-.25724082-.4836728-.0877058-.7016464.16953502-.2179736.48367282-.2572408.70164642-.0877058L16 19.3665692l8.6930297-6.7612453z"></path>
          </svg>
        </button>
        <div id="menuHeader" class="group-nav grouped-services-nav" style="justify-content: center;">
          <div class="group-nav-container">
              <div class="group-nav-links-container">
  <span class="group-nav-links" id="category-64472" role="button">
    Consultation
  </span>
    <div class="group-nav-links--active"></div>
</div>
              <div class="group-nav-links-container">
  <span class="group-nav-links" id="category-33416" role="button">
    Hair Care
  </span>
<!----></div>
              <div class="group-nav-links-container">
  <span class="group-nav-links" id="category-58194" role="button">
    Hair Color
  </span>
<!----></div>
              <div class="group-nav-links-container">
  <span class="group-nav-links" id="category-62713" role="button">
    Hair Extensions
  </span>
<!----></div>
              <div class="group-nav-links-container">
  <span class="group-nav-links" id="category-57679" role="button">
    Haircuts
  </span>
<!----></div>
              <div class="group-nav-links-container">
  <span class="group-nav-links" id="category-61139" role="button">
    Men's Grooming
  </span>
<!----></div>
              <div class="group-nav-links-container">
  <span class="group-nav-links" id="category-68848" role="button">
    Waxing
  </span>
<!----></div>
          </div>
        </div>
        <button class="group-nav-buttons" type="button" style="display: none;">
          <span class="lnr lnr-chevron-right group-nav-right-arrow"></span>
        </button>
        <div id="fade-text-container">
          <span></span>
        </div>
      

</div>

  <div id="ember118" class="sticky-element__trigger sticky-element__trigger--bottom ember-view"></div>
</div>

    <div class="visible-xs-block mobile-grouped-nav-tray ui-tray-container ">
  <div class="ui-tray-background" role="button"></div>
  <div class="ui-tray">
    
      <!---->
    
    
      <div class="ui-tray-body sub-container-xs-3">
  
        <h4>Categories</h4>
        <div class="group-nav-categories-list">
            <span class="mobile-group-nav-links" id="category-64472" role="button">
              Consultation
            </span>
            <span class="mobile-group-nav-links" id="category-33416" role="button">
              Hair Care
            </span>
            <span class="mobile-group-nav-links" id="category-58194" role="button">
              Hair Color
            </span>
            <span class="mobile-group-nav-links" id="category-62713" role="button">
              Hair Extensions
            </span>
            <span class="mobile-group-nav-links" id="category-57679" role="button">
              Haircuts
            </span>
            <span class="mobile-group-nav-links" id="category-61139" role="button">
              Men's Grooming
            </span>
            <span class="mobile-group-nav-links" id="category-68848" role="button">
              Waxing
            </span>
        </div>
      
</div>

    
  </div>
</div>

</div>
</div>
        </div>
      </div>
      <div class="row sticky-element-parent">
        <div class="col-sm-8">
          <div class="grouped-services-item">
  <div class="service-menu-content">
        <div id="64472" class="service-menu-category">
    <div class="group-container-inner">
<!---->      
        <div class="sticky-element-parent">
            <div class="group-container-header-sticky">
              <span class="group-container-header-item">
                <span class="custom-color-border-top-color">Consultation</span>
              </span>
            </div>
            <div class="menu-group-items">
        <div class="service-card-item">
      <article class="card">
    
      <div class="info-card-name">
        <h4 class="card__title">Color Consultation</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>15 min</span>
<!---->            
</div>
          </div>
            <p class="card__description">
  <div id="ember119" class="lt-line-clamp lt-line-clamp--multi-line ember-view" style="-webkit-line-clamp: 3">  Looking to change you color? This one is for you!  You may also text us for a consultation virtually at 713-523-6905

<!----></div>
</p>
        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color custom-color-text custom-color-bg-tint-70 card--btn-not-clickable" type="button">
    1
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Cut Consultation</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>15 min</span>
<!---->            
</div>
          </div>
            <p class="card__description">
  <div id="ember120" class="lt-line-clamp lt-line-clamp--multi-line ember-view" style="-webkit-line-clamp: 3">  Want a change but not sure? New to the salon? This is for you! And it's complimentary.Text us here as well for one 713-523-6905

<!----></div>
</p>
        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Add
  </span>

      </div>
    
  </article>

</div>
<!---->
</div>

        </div>
      
<!---->    </div>
  </div>

        <div id="33416" class="service-menu-category">
    <div class="group-container-inner">
<!---->      
        <div class="sticky-element-parent">
            <div class="group-container-header-sticky">
              <span class="group-container-header-item">
                <span class="custom-color-border-top-color">Hair Care</span>
              </span>
            </div>
            <div class="menu-group-items">
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Blow out</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>45 min</span>
                <span class="info-card-price-bold">$50.00</span>
            
</div>
          </div>
<!---->        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Add
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Blow out (Long and Thick)</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>1 hr</span>
                <span class="info-card-price-bold">$55.00</span>
            
</div>
          </div>
<!---->        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Add
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Blow out with extensions </h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>45 min</span>
                <span class="info-card-price-bold">$75.00</span>
            
</div>
          </div>
            <p class="card__description">
  <div id="ember121" class="lt-line-clamp lt-line-clamp--multi-line ember-view" style="-webkit-line-clamp: 3">  Have extensions? Need a blow out? This option is for you!

<!----></div>
</p>
        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Add
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Brazilian Blow Out </h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>3 hr</span>
                <span class="info-card-price-bold">$350.00</span>
            
</div>
          </div>
<!---->        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Add
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">CBD Molecule Bonding Treatment </h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>30 min</span>
                <span class="info-card-price-bold">$65.00</span>
            
</div>
          </div>
            <p class="card__description">
  <div id="ember122" class="lt-line-clamp lt-line-clamp--multi-line ember-view" style="-webkit-line-clamp: 3">  Add on this truly regenerating conditioning treatment infused with CBD from Leaf + Flower. Help mend broken bonds and creates softness.  

<!----></div>
</p>
        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Add
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Demi Permanment B3 Conditioner</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>35 min</span>
                <span class="info-card-price-bold">$45.00</span>
            
</div>
          </div>
<!---->        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Add
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Formal styling</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>1 hr</span>
                <span class="info-card-price-bold">$95.00</span>
            
</div>
          </div>
            <p class="card__description">
  <div id="ember123" class="lt-line-clamp lt-line-clamp--multi-line ember-view" style="-webkit-line-clamp: 3">  Formal occasion styling.

<!----></div>
</p>
        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Add
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Keratin treatment</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>2 hr 30 min</span>
                <span class="info-card-price-bold">$350.00</span>
            
</div>
          </div>
            <p class="card__description">
  <div id="ember124" class="lt-line-clamp lt-line-clamp--multi-line ember-view" style="-webkit-line-clamp: 3">  3-4 months of smooth frizz free hair.

<!----></div>
</p>
        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Add
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Perm/Body Wave</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>2 hr</span>
                <span class="info-card-price-bold">$125.00</span>
            
</div>
          </div>
            <p class="card__description">
  <div id="ember125" class="lt-line-clamp lt-line-clamp--multi-line ember-view" style="-webkit-line-clamp: 3">  The price is starting $125+

<!----></div>
</p>
        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Add
  </span>

      </div>
    
  </article>

</div>
<!---->
</div>

        </div>
      
<!---->    </div>
  </div>

        <div id="58194" class="service-menu-category">
    <div class="group-container-inner">
<!---->      
        <div class="sticky-element-parent">
            <div class="group-container-header-sticky">
              <span class="group-container-header-item">
                <span class="custom-color-border-top-color">Hair Color</span>
              </span>
            </div>
            <div class="menu-group-items">
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">B3 Brazilian Bond Builder</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>5 min</span>
                <span class="info-card-price-bold">$10.00</span>
            
</div>
          </div>
            <p class="card__description">
  <div id="ember126" class="lt-line-clamp lt-line-clamp--multi-line ember-view" style="-webkit-line-clamp: 3">  Can be added to any color service to reduce damage in the highlighting/coloring process.

<!----></div>
</p>
        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Add
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Balayage</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>3 hr</span>
                <span class="info-card-price-bold">$225.00</span>
            
</div>
          </div>
            <p class="card__description">
  <div id="ember127" class="lt-line-clamp lt-line-clamp--multi-line ember-view" style="-webkit-line-clamp: 3">  Lived in color, perfect for those who want to be brighter without being bright all over.  If you have Rapunzel length hair please let us know in your notes :)

<!----></div>
</p>
        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Add
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Corrective color</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>2 hr 30 min</span>
<!---->            
</div>
          </div>
<!---->        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Add
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Face Frame Highlight </h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>2 hr</span>
                <span class="info-card-price-bold">$100.00</span>
            
</div>
          </div>
            <p class="card__description">
  <div id="ember128" class="lt-line-clamp lt-line-clamp--multi-line ember-view" style="-webkit-line-clamp: 3">  A few highlights to brighten up around your face (14 foils)

<!----></div>
</p>
        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Add
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Full highlights</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>3 hr 30 min</span>
                <span class="info-card-price-bold">$225.00</span>
            
</div>
          </div>
            <p class="card__description">
  <div id="ember129" class="lt-line-clamp lt-line-clamp--multi-line ember-view" style="-webkit-line-clamp: 3">  This service is to achieve a brighter look all around your head using foils. This is good for your first time foil to be brighter or maintenance on a partial If you have Rapunzel length hair please let us know in your notes :)

<!----></div>
</p>
        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Add
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Glaze/toner</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>45 min</span>
                <span class="info-card-price-bold">$50.00</span>
            
</div>
          </div>
<!---->        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Add
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Partial Highlight</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>2 hr</span>
                <span class="info-card-price-bold">$125.00</span>
            
</div>
          </div>
            <p class="card__description">
  <div id="ember130" class="lt-line-clamp lt-line-clamp--multi-line ember-view" style="-webkit-line-clamp: 3">  This service is good if you just had a full and need a touch up between your next full using foils. This is also good for those looking for a subtle change. 

<!----></div>
</p>
        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Add
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Single process color plus refresh ends</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>1 hr 30 min</span>
                <span class="info-card-price-bold">$125.00</span>
            
</div>
          </div>
            <p class="card__description">
  <div id="ember131" class="lt-line-clamp lt-line-clamp--multi-line ember-view" style="-webkit-line-clamp: 3">  A single process plus added color to the ends to refresh your color all over. If you'd like a blow dry please book a post color blow out 

<!----></div>
</p>
        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Add
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Single process hair color</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>1 hr</span>
                <span class="info-card-price-bold">$75.00</span>
            
</div>
          </div>
            <p class="card__description">
  <div id="ember132" class="lt-line-clamp lt-line-clamp--multi-line ember-view" style="-webkit-line-clamp: 3">  This is for anyone who needs a root touch up that isn't a highlight If you'd like a blow dry please book post color blow out 

<!----></div>
</p>
        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Add
  </span>

      </div>
    
  </article>

</div>
<!---->
</div>

        </div>
      
<!---->    </div>
  </div>

        <div id="62713" class="service-menu-category">
    <div class="group-container-inner">
<!---->      
        <div class="sticky-element-parent">
            <div class="group-container-header-sticky">
              <span class="group-container-header-item">
                <span class="custom-color-border-top-color">Hair Extensions</span>
              </span>
            </div>
            <div class="menu-group-items">
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Hair Extensions </h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>30 min</span>
<!---->            
</div>
          </div>
            <p class="card__description">
  <div id="ember133" class="lt-line-clamp lt-line-clamp--multi-line ember-view" style="-webkit-line-clamp: 3">  Please note, any extension service requires a consultation. This is not an appointment, only a consult. Please call salon for booking with Katarina 

<!----></div>
</p>
        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Add
  </span>

      </div>
    
  </article>

</div>
<!---->
</div>

        </div>
      
<!---->    </div>
  </div>

        <div id="57679" class="service-menu-category">
    <div class="group-container-inner">
<!---->      
        <div class="sticky-element-parent">
            <div class="group-container-header-sticky">
              <span class="group-container-header-item">
                <span class="custom-color-border-top-color">Haircuts</span>
              </span>
            </div>
            <div class="menu-group-items">
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Bang trim</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>15 min</span>
                <span class="info-card-price-bold">$10.00</span>
            
</div>
          </div>
<!---->        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Add
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Haircut</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>45 min</span>
                <span class="info-card-price-bold">$85.00</span>
            
</div>
          </div>
            <p class="card__description">
  <div id="ember134" class="lt-line-clamp lt-line-clamp--multi-line ember-view" style="-webkit-line-clamp: 3">  Cleansing massage + haircut + style

<!----></div>
</p>
        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Add
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Haircut only</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>45 min</span>
                <span class="info-card-price-bold">$65.00</span>
            
</div>
          </div>
            <p class="card__description">
  <div id="ember135" class="lt-line-clamp lt-line-clamp--multi-line ember-view" style="-webkit-line-clamp: 3">  A haircut, minus the blow out 

<!----></div>
</p>
        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Add
  </span>

      </div>
    
  </article>

</div>
<!---->
</div>

        </div>
      
<!---->    </div>
  </div>

        <div id="61139" class="service-menu-category">
    <div class="group-container-inner">
<!---->      
        <div class="sticky-element-parent">
            <div class="group-container-header-sticky">
              <span class="group-container-header-item">
                <span class="custom-color-border-top-color">Men's Grooming</span>
              </span>
            </div>
            <div class="menu-group-items">
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Beard Trim</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>15 min</span>
                <span class="info-card-price-bold">$15.00</span>
            
</div>
          </div>
<!---->        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Add
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Men's haircolor</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>45 min</span>
                <span class="info-card-price-bold">$55.00</span>
            
</div>
          </div>
<!---->        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Add
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Men's Haircut</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>30 min</span>
                <span class="info-card-price-bold">$55.00</span>
            
</div>
          </div>
<!---->        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Add
  </span>

      </div>
    
  </article>

</div>
<!---->
</div>

        </div>
      
<!---->    </div>
  </div>

        <div id="68848" class="service-menu-category">
    <div class="group-container-inner">
<!---->      
        <div class="sticky-element-parent">
            <div class="group-container-header-sticky">
              <span class="group-container-header-item">
                <span class="custom-color-border-top-color">Waxing</span>
              </span>
            </div>
            <div class="menu-group-items">
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Brows</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>15 min</span>
                <span class="info-card-price-bold">$25.00</span>
            
</div>
          </div>
<!---->        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Add
  </span>

      </div>
    
  </article>

</div>
<!---->
        <div class="service-card-item">
      <article class="card card--clickable" role="button">
    
      <div class="info-card-name">
        <h4 class="card__title">Full Face</h4>
      </div>
      <div class="cardTwoColumn">
        <div>
          <div class="info-card-dur-price">
            <div class="card__info">
  
              <span>30 min</span>
                <span class="info-card-price-bold">$45.00</span>
            
</div>
          </div>
<!---->        </div>
<!---->      </div>
      <div class="service-card-item__button">
            <span class="btn btn-primary custom-color-bg custom-color-border-color card__button no-custom-color " type="button">
    Add
  </span>

      </div>
    
  </article>

</div>
<!---->
</div>

        </div>
      
<!---->    </div>
  </div>

  </div>
</div>
        </div>
        <div class="col-sm-4 add-services-right-rail-container hidden-xs">
          <div id="ember136" class="sticky-element-container ember-view"><div id="ember137" class="sticky-element__trigger sticky-element__trigger--top ember-view"></div>

<div class="
  sticky-element
  sticky-element--sticky
  
  sticky-element--sticky-bottom" style="position: absolute; bottom: 0px; width: 0px">

  
            <div class="add-services-right-rail" style="margin-top: 0px;">
              <div class="your-itinerary">
  <span class="ui-title your-itinerary-title">
  Your Appointment
</span>
<!---->
  <div class="itinerary-items ">
<!---->          <div id="ember141" class="selected-service-card ui-card ember-view">    <button class="ui-card-remove lnr lnr-cross"></button>

<div class="ui-card-inner">
  
  <div id="ember142" class="ui-card-content horizontal-padding-medium vertical-padding-medium ember-view">
  
<!---->    <div>
      <span class="ui-title">
  Color Consultation
</span>
<!---->    </div>
  
</div>

</div></div>

<!---->
</div>

</div>
              <button class="submit btn btn-primary btn-lg btn-block custom-color-bg" type="button">
                Continue
              </button>
            </div>
          

</div>

  <div id="ember143" class="sticky-element__trigger sticky-element__trigger--bottom ember-view"></div>
</div>
        </div>
      </div>
    </div>

    <div id="ember144" class="visible-xs-block itinerary-tray ember-view"><div class="ui-tray-container ">
  <div class="ui-tray-background" role="button"></div>
  <div class="ui-tray">
    

  <div class="ui-tray-header media-object media-object-right sub-container-xs-3" role="button">
  <span class="ui-tray-header-icon"></span>
  
    <span class="itinerary-tray-title">
      Your Appointment
    </span>
      <div class="services-summary">
  <ul id="ember146" class="ui-separator-list ember-view">

      <li id="ember147" class="services-summary-count ui-separator-list-item separator-dot ember-view">
        1 service
      </li>
          
        <li id="ember149" class="services-summary-duration ui-separator-list-item separator-dot ember-view">
          15 min
        </li>
      


  </ul>
</div>
  
</div>

  <!---->


    

  <!---->

  <div class="ui-tray-body sub-container-xs-3">
  
    <div class="itinerary-items ">
<!---->          <div id="ember152" class="selected-service-card ui-card ember-view">    <button class="ui-card-remove lnr lnr-cross"></button>

<div class="ui-card-inner">
  
  <div id="ember153" class="ui-card-content horizontal-padding-medium vertical-padding-medium ember-view">
  
<!---->    <div>
      <span class="ui-title">
  Color Consultation
</span>
<!---->    </div>
  
</div>

</div></div>

<!---->
</div>

      <button class="btn btn-lg btn-block btn-outline-primary custom-color-border-color custom-color-text add-more-button" data-ember-action="" data-ember-action-154="154">
        <span class="btn-offset-icon">
          <span class="lnr-plus"></span>
          <span>Add more services</span>
        </span>
      </button>
      <button id="ember155" class="ember-view btn btn-lg btn-block btn-primary custom-color-bg continue-booking-button">Continue booking </button>
  
</div>



  </div>
</div>
</div>
</div>


</main>

  <footer class="footer" style="visibility: visible;">
  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 hidden-xs footer-section">
          <ul class="footer-column footer-location-info">
              <li>
                <span class="lnr lnr-envelope"></span>
                <a href="mailto:marbellasalon@gmail.com" class="footer-email">
                  Email us
                </a>
              </li>

              <li>
                <span class="lnr lnr-telephone"></span>
                <a href="tel:7135236905" class="footer-phone">
                  (713) 523-6905
                </a>
              </li>

            <li>
              <span class="lnr lnr-map-marker"></span>
              <a href="/location/marbellasalon/contact" id="ember94" class="ember-view footer-mapHours">
                Maps and Hours
              </a>
            </li>

              <li>
                <span class="lnr lnr-home"></span>
                <a href="http://www.marbellaspaandsalon.com" class="footer-website-link" target="_blank" rel="noopener noreferrer">
                  Our Website
                </a>
              </li>
          </ul>

          <ul class="footer-column footer-social-media">
              <li>
                <a href="https://instagram.com/marbellasalon/" target="_blank" class="instagram-link social-media-links" rel="noopener" data-ember-action="" data-ember-action-95="95">
  <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg" class="social-media-icons"><g fill="#838B91" fill-rule="nonzero"><path d="M10.978 1.982c2.932 0 3.276.013 4.435.066 1.072.047 1.651.226 2.039.379.514.2.88.435 1.263.819.384.383.623.749.82 1.263.147.388.33.967.378 2.039.053 1.159.066 1.503.066 4.435 0 2.931-.013 3.276-.066 4.434-.048 1.072-.226 1.652-.379 2.04-.2.513-.435.88-.819 1.263-.383.383-.75.623-1.263.819-.388.148-.967.33-2.039.379-1.159.052-1.503.065-4.435.065-2.932 0-3.276-.013-4.435-.065-1.071-.048-1.65-.227-2.038-.38-.515-.2-.88-.435-1.264-.818a3.353 3.353 0 01-.819-1.264c-.148-.387-.33-.967-.379-2.039-.052-1.158-.065-1.503-.065-4.434 0-2.932.013-3.276.065-4.435.048-1.072.227-1.651.38-2.04.2-.513.435-.88.818-1.262.384-.384.75-.623 1.264-.82.387-.148.967-.33 2.038-.378 1.16-.057 1.503-.066 4.435-.066zm0-1.978c-2.98 0-3.354.013-4.526.066C5.284.122 4.487.31 3.79.58a5.35 5.35 0 00-1.943 1.267A5.443 5.443 0 00.58 3.79C.31 4.487.122 5.284.07 6.456.018 7.624.005 7.998.005 10.978c0 2.98.013 3.355.066 4.527.052 1.167.24 1.964.51 2.666a5.35 5.35 0 001.267 1.943c.61.61 1.224.984 1.943 1.267.697.27 1.494.458 2.666.51 1.172.052 1.542.065 4.527.065 2.984 0 3.354-.013 4.526-.065 1.167-.052 1.965-.24 2.666-.51a5.35 5.35 0 001.943-1.267c.61-.61.985-1.224 1.268-1.943.27-.697.457-1.495.51-2.666.052-1.172.065-1.543.065-4.527s-.013-3.354-.066-4.526c-.052-1.168-.24-1.965-.51-2.666a5.35 5.35 0 00-1.267-1.943A5.443 5.443 0 0018.175.575c-.697-.27-1.494-.457-2.666-.51-1.176-.048-1.551-.06-4.53-.06z"></path><path d="M10.978 5.341a5.638 5.638 0 000 11.274 5.64 5.64 0 005.637-5.637 5.64 5.64 0 00-5.637-5.637zm0 9.297a3.659 3.659 0 110-7.318 3.659 3.659 0 010 7.318z"></path><circle cx="16.838" cy="5.119" r="1.316"></circle></g></svg>
</a>
              </li>
              <li>
                <a href="https://facebook.com/marbellasalonmontrose" target="_blank" class="facebook-link social-media-links" rel="noopener" data-ember-action="" data-ember-action-96="96">
  <svg width="22" height="22" viewBox="0 0 22 22" xmlns="http://www.w3.org/2000/svg" class="social-media-icons"><path d="M18.7 6.2h-1.8c-1.4 0-1.7.6-1.7 1.6v2h3.3l-.3 3.2h-2.9v8.2h-3.5V13H9V9.8h2.9V7.5c0-2.7 1.7-4.2 4.3-4.2 1.2 0 2.3.1 2.6.1v2.8h-.1zM20.8 0H1.2C.5 0 0 .5 0 1.2v19.2c0 .7.5 1.2 1.2 1.2h19.6c.7 0 1.2-.5 1.2-1.2V1.2c0-.7-.6-1.2-1.2-1.2z" fill="#838B91" fill-rule="evenodd"></path></svg>
</a>
              </li>
          </ul>
        </div>
      <div class="col-sm-12 col-md-4 footer-logo-column">
        <ul class="footer-column logo-column">
          <li class="footer-logo-container">
            <a href="https://www.mindbodyonline.com/" class="footer-logo-link" target="_blank" rel="noopener noreferrer">
              <img class="footer-logo" src="/images/mb-logo-2020-masterfile-horizontal-powered-lockup-black.svg" alt="Powered by Mindbody.">
            </a>
          </li>
          <li>
            <a href="https://company.mindbodyonline.com/legal/privacy-policy" target="_blank" class="footer-privacy-link" rel="noopener noreferrer">
              Privacy
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>



<!----></body>